#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%; 
  gap: 15%;
  width: 100%;
}

.form-div {
  text-align: center;
}

.weatherData-div {
  text-align: center;
}

input {
  background-color: rgb(101, 101, 101);
  padding: 5%;
  margin-bottom: 5%;
}