/* review input styling against bg for accessibility, they look they blend together */
/* make input box a little bigger maybe to match or close to make match the button input */

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(32, 31, 31);
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25%; 
  gap: 5%;
  width: 90%;
}

.joke-div {
  text-align: center;
}

.form-div {
  text-align: center;
}

.weatherData-div {
  text-align: center;
}

input {
  background-color: rgb(101, 101, 101);
  padding: 5%;
  margin-bottom: 5%;
}

::placeholder {
  color: rgb(202, 202, 202);
}

